<a href="/entrees"> Entree Index </a>
<br>
<a href="/entrees"> Chef Index </a>

<%= @chef.name %>
<%= @chef.age %>
<%= @chef.is_male %>
<%= @chef.years_employed %>
<h1> number of entrees <%= @chef.number_of_entrees %> </h1>
