<h1><%= @band.name %></h1>
<h2>A <%= @band.genre %> band founded in <%= @band.founded %></h2>
<h3>Currently Active: <%= @band.currently_active %></h3>
<h3><%= @member_count %> musician records available.</h3>

<p>record #<%= @band.id %>
<p>record created <%= @band.created_at %></p>
<p>udated <%= @band.updated_at %></p>
