<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p><a href="/musicians">Musicians Index</a> | <a href="/bands">Bands Index</a></p>
    <%= yield %>
  </body>
</html>
